html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
}


#network {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 0;
}

.overlay {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;
  background: rgba(0,0,0,0.3);
}

.title {
  font-size: 2rem;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  font-size: 1.2rem;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  background-color: #3a86ff;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #00b4d8;
  transform: scale(1.05);
}
